@model IEnumerable<ProjectED1.Models.Movie>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserCatalogue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />    
    <link rel="preload" href="https://codex.nflxext.com/%5E2.0.0/truthBundle/webui/0.0.1-shakti-js-dbfe879a/js/js/components%7Clogin%7CloginLayout.jsx,components%7Clogin%7CloginController.jsx,react%7CgenericClient.js/2/gF0ogAgdgcga4Fgf0F0w4zgkgE0t0T02gGgj4Pgngg0Cgzgw4Jglg7gpgB/l/true/none" as="script" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="https://codex.nflxext.com/%5E2.0.0/truthBundle/webui/0.0.1-shakti-css-dbfe879a/css/css/login%7CloginBase.less,pages%7Clogin%7CLogin.less/2/0-0F0H0W080P0e0B0O0_0X0Q0V11/none/true/none" />
    <link rel="shortcut icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico" />
    <link rel="apple-touch-icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.png" />
</head>
<body>
        <div data-reactid="8">
            <noscript data-reactid="9">&lt;div class="ui-message-container ui-message-error"&gt;&lt;div class="ui-message-icon"&gt;&lt;/div&gt;&lt;div class="ui-message-contents"&gt;Parece que JavaScript no está habilitado. Habilita JavaScript para restaurar la funcionalidad de la página completa.&lt;/div&gt;&lt;/div&gt;</noscript>
            <div class="login-content login-form" data-reactid="10">
                <h3 style="color:black;">Desea ordenar por:</h3>
               
                @using (Html.BeginForm("cambiar_orden", "Movie", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group" style="color:black;">
                        <select name="orden">
                            <option>Nombre</option>
                            <option>Género</option>
                            <option>Año</option>
                        </select>
                        <button class="btn login-button btn-submit btn-small" type="submit" autocomplete="off" tabindex="4" data-reactid="25" value="Seleccionar">Seleccionar</button>

                    </div>


                }
                <table class="table" style="color:black;">
                    <tr>                     
                        <th>
                            @Html.DisplayNameFor(model => model.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.year)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.genre)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.year)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.genre)
                            </td>
                            <td>
                                @Html.ActionLink("Agregar a WatchList", "AddMovieWatchlist", new { id = item.name })

                            </td>
                        </tr>
                    }

                </table>
                </div>
            </div>
</body>
</html>
